@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$buttonTextColor: #595959;

body {
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    width: 1440px;
    height: 768px;
    background: linear-gradient(180deg, #F2F2F2 54.79%, rgba(221, 221, 221, 0) 100%);
    display: flex;
    justify-content: center;
}

// Форма входа

.form {
    width: 443px;
    height: 316px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    input {
        width: 403px;
        height: 64px;
        background: #FAFAFA;
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 20px;
        outline: none;
        text-indent: 22px;
        box-sizing: border-box;
        font-weight: 700;
        font-size: 24px;

        &::placeholder {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #C1C0C0;
        }
    }

    &__button {
        width: 403px;
        height: 64px;
        background: #86CD89;
        border: 2px solid #86CD89;
        border-radius: 10px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 20px;

        &:hover {
            background-color: #FFFF;
            color: #86CD89;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
        margin-left: 141px;

        a {
            color: #A2A3A7;
            text-decoration: none;

            &:hover {
                color: #86CD89;
            }
        }
    }

    &__error {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
        color: red;
    }
}


// Лист заказов

.header {
    width: 800px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;

    &__avatar {
        width: 36px;
        height: 36px;
        background: #B9B9B9;
        border-radius: 50%;
        margin-left: 13px;
    }

    &__user {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-left: 15px;
    }

    &__email {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #9D9D9D;
        margin-left: 15px;
    }

    &__button {
        width: 65px;
        height: 25px;
        background: #F7F5F5;
        border: 2px solid #F7F5F5;
        border-radius: 10px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: $buttonTextColor;
        margin-left: 527px;

        &:hover {
            color: #F7F5F5;
            background-color: $buttonTextColor;
            border: 2px solid $buttonTextColor;
        }
    }
}

.table {
    width: 800px;
    height: 437px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 11px;

    &__topBlock {
        display: flex;
    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-left: 20px;
        padding-top: 20px;
    }

    &__sort {
        width: 224px;
        height: 32px;
        background: #F7F5F5;
        border: 1px solid #ECEAEA;
        border-radius: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $buttonTextColor;
        margin-left: 416px;
        margin-top: 27px;
    }

    &__header {
        width: 760px;
        height: 37px;
        background: #F7F5F5;
        border: 1px solid #EBEBEB;
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin-left: 20px;
        margin-top: 20px;

        &-number {
            margin-left: 11px;
        }

        &-email {
            margin-left: 65px;
        }

        &-amount {
            margin-left: 146px;
        }

        &-date {
            margin-left: 60px;
        }
    }
}

.list {
    overflow: auto;
    height: 245px;
}

.listItem {
    width: 760px;
    height: 37px;
    background: #FFFF;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 20px;

    &:hover {
        background-color: #F7F5F5;
    }

    &__id {
        width: 174px;
        text-align: center;
    }

    &__email {
        width: 184px;
    }

    &__amount {
        width: 104px;
    }
}

.showMore {
    width: 254px;
    height: 42px;
    background: #F7F5F5;
    border: 1px solid #ECEAEA;
    border-radius: 10px;
    color: $buttonTextColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 280px;
    margin-top: 20px;

    &:hover {
        color: #F7F5F5;
        background-color: $buttonTextColor;
    }
}